<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>{{.Name}}</title>
	</head>
	<body>
		<h3>Download {{.Name}}</h3>
		{{if .IsLimit}}
		<p>Downloads remaining: {{.Limit}}</p>
		{{end}}
		<form action="/download/{{.Url}}" method="POST">
			{{if .IsProtected}}
			<input type="password" name="password" id="" />
			{{end}}
			<input type="submit" value="download" />
		</form>
	</body>
</html>
