<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <meta name="description"
            content="A temporary file storage. Your files will be kept for 10 minutes and deleted automatically. You can choose to password protect your file or limit the number of downloads.">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

        <title>Tempbin</title>
    </head>

    <body>
        <h1></h1>
        <!-- <header> -->
        <div class="container">
            <h1> <a href="/"> TEMPB.IN</a></h1>
        </div>

        <!-- </header> -->

        <div class="container">

            <article class="center-text" id="article" data-tooltip="Copy">
                https://tempb.in/download/{{.}}
            </article>

        </div>
        <script src="/static/app.js"></script>
        <!-- <script src="/server/static/app.js"></script> -->
    </body>
    {{template "footer" .}}

</html>