<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description"
			content="A temporary file storage. Your files will be kept for 10 minutes and deleted automatically. You can choose to password protect your file or limit the number of downloads.">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<title>Tempbin: Temporary File Storage</title>
	</head>

	<body>
		<!-- <header> -->
		<h1></h1>
		<div class="container">
			<h1> <a href="/"> TEMPB.IN</a></h1>
		</div>
		<!-- </header> -->
		<div class="container">
			<form action="/upload" method="post" enctype="multipart/form-data">

				<!-- <label for="file">Upload a file</label> -->
				<input type="file" name="file"  required />
				<br>
				<div class="grid">
					<details>
						<summary>Password protect</summary>
						<!-- <label for="password">password protect (optional)</label> -->
						<input type="password" name="password"  placeholder="Password" />
					</details>
				</div>
				<!-- <br> -->
				<div class="grid">
					<details>
						<summary>Limit downloads</summary>
						<input type="number" name="limit" placeholder="5" />
					</details>
					<!-- <label for="number">limit the number of downloads (optional)</label> -->
				</div>
				<div class="grid">
					<details>
						<summary>Time limit in minutes (Default is 10, max is 120)</summary>
						<input type="number" name="duration" min="1" max="120" placeholder="10" />
					</details>
				</div>
				<br>
				<button type="submit" id="submit-btn" aria-busy="false" class="outline width-limit" value="Upload"
					onclick="load()">Upload</button>


			</form>
		</div>
		<div class="container">
			<i>Note: Max file size is 50MB and files get deleted in 10 minutes</i>
		</div>

		{{template "footer" .}}
	</body>

</html>

<script>
	function load() {
		document.getElementById("submit-btn").setAttribute('aria-busy', "true");
	}
</script>